[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
sqlalchemy = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
fastapi-mail = "*"
python-dotenv = "*"
redis = "*"
fastapi-limiter = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"
